    <div class="final-payment">
      <section class="main-content">
        <header class="profile-headerwhite">
          <div class="header">
            <div class="logo">
              <img
                class="customer-service-icon"
                loading="lazy"
                alt=""
                src="./assets/logo.svg"
              />

              <b class="easyset-24">EasySet 24</b>
            </div>
            <div class="header1">
              <div class="england">
                <img
                  class="button-icon"
                  loading="lazy"
                  alt=""
                  src="./assets/flage.png"
                />
              </div>
              <div class="icon-buttons">
                <div class="button">
                  <img
                    class="iconscharacterhelp"
                    loading="lazy"
                    alt=""
                    src="./assets/que.svg"
                  />
                </div>
              </div>
              <img
                class="text-icon"
                loading="lazy"
                alt=""
                src="./assets/user.png"
              />

              <div class="text">
                <div class="your-account">Your Account</div>
                <div class="text-anna">
                  <div class="anna-carinna">Anna Carinna</div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="sri-travel-guide">
          <div class="final-payment-1">
            <div class="final-payment1">
              <div class="swiss-travel-guide">
                <div class="footer-content">
                  <h3 class="information-you-need">
                    Information You need to pay attention .
                  </h3>
                  <div class="navigation-links">
                    <div class="passengers-are-divided">
                      Passengers are divided according to age categories .
                    </div>
                    <div class="please-check-categories">
                      Please Check Categories
                    </div>
                  </div>
                </div>
                <div class="auto-layout-container">
                  <div class="ticket">
                    <div class="date">
                      <b class="one-stop-3h">One stop, 3h Between</b>
                      <div class="date1">
                        <div class="flight-duration-9-container">
                          <span class="flight-duration">Flight Duration </span>
                          <b class="h">
                            <span class="span"> </span>
                            <span class="h1">9: 45h</span>
                          </b>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="photo">
                    <div class="photo1">
                      <div class="info-up">
                        <div class="first-flight-no-container">
                          <span class="first-flight-no"
                            >First flight no From Stockholm</span
                          >
                          <span class="c650">
                            <span class="span1"> </span>
                            <b>C650</b>
                          </span>
                        </div>
                        <img
                          class="vuesaxoutlinetick-square-icon"
                          alt=""
                          src="./assets/line.svg"
                        />


                        <div class="image-container">
                          <div class="icon-link-container">
                            <div class="delta-logo">
                              <img
                                class="card-layout-icon"
                                loading="lazy"
                                alt=""
                                src="./assets/delta1.svg"
                              />

                              <img
                                class="card-layout-icon1"
                                loading="lazy"
                                alt=""
                                src="./assets/delta2.svg"
                              />
                            </div>
                          </div>
                          <b class="delta-airlines">Delta Airlines</b>
                        </div>
                      </div>
                      <div class="info-down">
                        <div class="header-layout">
                          <div class="first-flight-no-container">
                            <span class="second-flight-no"
                              >Second flight no From Rome</span
                            >
                            <span class="jsg113">
                              <span class="span2"> </span>
                              <b>JSG113</b>
                            </span>
                          </div>
                        </div>
                        <img
                          class="vuesaxoutlinetick-square-icon1"
                          alt=""
                          src="./assets/line.svg"
                        />

                        <div class="footer-final">
                          <div class="airline-logo-turkish-airlines-">
                            <div class="turkish-ailines-logo">
                              <img
                                class="travel-blogs-icon"
                                alt=""
                                src="./assets/blank.svg"
                              />

                              <img
                                class="activities-icon"
                                loading="lazy"
                                alt=""
                                src="./assets/tur.svg"
                              />
                            </div>
                          </div>
                          <div class="customer-service">
                            <b class="turkish-airways">Turkish Airways</b>
                          </div>
                        </div>
                      </div>
                      <img
                        class="vuesaxoutlinearrow-down-icon"
                        alt=""
                        src="./assets/down.svg"
                      />

                      <img
                        class="vuesaxoutlinearrow-down-icon1"
                        alt=""
                        src="./assets/down.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="trip-sponsorship">
                  <h3 class="your-trip-summary">Your Trip Summary</h3>
                  <div class="bali-travel-guide">
                    <div class="your-flight-take">
                      Your flight take off from ARN Gate 23A , you Enter through
                      C Entrance.
                    </div>
                    <div class="your-flight-take">
                      In FCO Airport Rome You will stay 3h &45m then Exit
                      through Gate D14 .
                    </div>
                    <div class="your-flight-take">
                      Final Destination will be SABIHA Airport and You can Exit
                      Through L Door .
                    </div>
                  </div>
                </div>
                <div class="reviws">
                  <div class="very-good">
                    <div class="very-good-container">
                      <b>Very Good</b>
                      <span class="reviews"> , 2.259 Reviews</span>
                    </div>
                    <div class="icon">
                      <img
                        class="icon-child"
                        alt=""
                        src="./assets/arrow.svg"
                      />
                    </div>
                  </div>
                  <div class="level">
                    <div class="level1">
                      <div class="leaf">
                        <img
                          class="iconsothersleaves-2"
                          alt=""
                          src="./assets/leaf.svg"
                        />
                      </div>
                      <div class="sustainability-level">
                        Sustainability Level
                      </div>
                    </div>
                    <div class="icon1">
                      <img
                        class="icon-item"
                        alt=""
                        src="./assets/arrow.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <form #paymentForm="ngForm">  
                <div class="right-text">
                  <div class="right-text-up">
                    <div class="payment-metod">
                      <h3 class="payment-methods-and">
                        Payment Methods and Information
                      </h3>
                      <div class="price">
                        <div class="price-details">
                          <b class="price-details1">Price Details</b>
                        </div>
                        <div class="prices">
                          <div class="p1">
                            <div class="service">
                              <div class="travelinsurance">$ 87</div>
                              <div class="adults">2 Adults</div>
                            </div>
                            <div class="service1">
                              <div class="div">$ 24</div>
                              <div class="children">3 Children</div>
                            </div>
                            <div class="service1">
                              <div class="div1">$ 12</div>
                              <div class="infants">1 Infants</div>
                            </div>
                          </div>
                          <div class="p2">
                            <div class="total">
                              <b class="total-usd">Total (USD)</b>
                            </div>
                            <b class="framefooter">$ 157</b>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="inputs">
                      <div class="booked">
                        <div class="booking-for-work">
                          
                          <label for="bookingForWork" class="radio-button">
                            <input type="radio" id="bookingForWork" name="booking" class="radio-input">
                            <div class="radio-button1"></div>
                            <div class="radio-button11"></div>
                        </label>
                        
                          <b class="booking-for-work1">Booking For Work</b>
                      </div>
                         <div class="payment-method">
                          <div class="payment">
                            <b class="payment-method1">Payment Method</b>
                          </div>
                          <div class="p-input">
                            <div class="text1">
                              <div class="title">Payment Method</div>
                            </div>
                            <div class="input">
                              <div class="text-icon1">
                                <div class="text-icon2">
                                  <img
                                    class="paypal-icon"
                                    alt=""
                                    src="./assets/paypal.svg"
                                  />
  
                                  <div class="enter-your-emailgmailcom">
                                    .......
                                  </div>
                                </div>
                                <img
                                  class="iconseditdrop-down-list"
                                  alt=""
                                  src="./assets/iconseditdropdownlist.svg"
                                />
                              </div>
                            </div>
                            <div class="text2">
                              <div class="information">Information</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="info-1">
                        <div class="info-11">
                          <div class="inputs1">
                            <div class="input1">
                              <div class="text-parent">
                                <div class="text3">
                                  <div class="title1">
                                    <span>First Name </span>
                                    <span class="span3">*</span>
                                  </div>
                                </div>
                                <div class="input2">
                                  <input
                                  class="anna"
                                  id="firstName"
                                  name="firstName"
                                  placeholder="Anna"
                                  type="text"
                                  ngModel
                                  required />
                                </div>
                                <div class="text4">
                                  <div class="information1"></div>
                                </div>
                              </div>
                            </div>
                            <div class="input3">
                              <div class="text5">
                                <div class="title2">
                                  <span>Last Name </span>
                                  <span class="span4">*</span>
                                </div>
                              </div>
                              <div class="input4">
                                <div class="carinn">
                                  <div class="carinna">
                                    <img
                                      class="iconsmoneybank-card"
                                      alt=""
                                      src="./assets/iconsmoneybankcard.svg"
                                    />
  
                                    <div class="enter-your-emailgmailcom1">
                                      <input
                                      class="anna"
                                      id="lastName"
                                      name="lastName"
                                      placeholder="Carinna"
                                      type="text"
                                      ngModel
                                      required />
                                    </div>
                                  </div>
                                  <img
                                    class="paypal-icon1"
                                    alt=""
                                    src="./assets/paypal.svg"
                                  />
                                </div>
                              </div>
                              <div class="text6">
                                <div class="information2"></div>
                              </div>
                            </div>
                          </div>
                          <div class="input-48">
                            <div class="text7">
                              <div class="title3">
                                <span>Phone Number </span>
                                <span class="span5">*</span>
                              </div>
                            </div>
                            <div class="input5">
                              <div class="number">
                                <div class="number1">
                                  <img
                                    class="flags-se"
                                    alt=""
                                    src="./assets/flags--se.svg"
                                  />
  
                                  <div class="enter-your-emailgmailcom2">
                                    <input
                                    class="anna"
                                    id="phoneNumber"
                                    name="phoneNumber"
                                    placeholder="764378888888"
                                    type="tel"
                                    ngModel
                                    required/>
                                  </div>
                                </div>
                                <img
                                  class="iconsbasesearch"
                                  alt=""
                                  src="./assets/iconsbasesearch.svg"
                                />
                              </div>
                            </div>
                            <div class="text8">
                              <div class="information3">Information</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="info-2">
                        <div class="card-number">
                          <div class="input6">
                            <div class="text9">
                              <div class="title4">
                                <span>Card Number </span>
                                <span class="span6">*</span>
                              </div>
                            </div>
                            <div class="input7">
                              <div class="text-icon3">
                                <div class="text-icon4">
                                  <img
                                    class="iconsmoneybank-card1"
                                    alt=""
                                    src="./assets/iconsmoneybankcard.svg"
                                  />
  
                                  <input
                                  class="enter-your-emailgmailcom3"
                                  id="cardNumber"
                                  name="cardNumber"
                                  placeholder=".............................................................."
                                  type="text"
                                  ngModel
                                  required />
                                </div>
                                <img
                                  class="iconseditdrop-down-list1"
                                  alt=""
                                  src="./assets/iconseditdropdownlist.svg"
                                />
                              </div>
                            </div>
                            <div class="text10">
                              <div class="information4"></div>
                            </div>
                          </div>
                        </div>
                        <div class="cvc">
                          <div class="cvc1">
                            <div class="text11">
                              <div class="title5">
                                <span>CVC </span>
                                <span class="span7">*</span>
                              </div>
                            </div>
                            <div class="input8">
                              <input
                              class="text-icon5"
                              id="cvc"
                              name="cvc"
                              placeholder="***"
                              type="text"
                              ngModel
                              required />
                            </div>
                            <div class="text12">
                              <div class="information5">Information</div>
                            </div>
                          </div>
                        </div>
                        <div class="exp-date">
                          <div class="input9">
                            <div class="text13">
                              <span>EXP Date </span>
                              <span class="span8">* </span>
                            </div>
                          </div>
                          <div class="input10">
                            <input
                            class="text-icon6"
                            id="expDate"
                            name="expDate"
                            placeholder="**/**"
                            type="text"
                            ngModel
                            required />
                          </div>
                          <div class="text14">
                            <div class="information6">Information</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="right-text-center">
                    <h3 class="cancellation-policy">Cancellation Policy</h3>
                    <div class="text15">
                      <div class="get-a-full">
                        Get a Full Refund If You Cancel By Jun 23 (PDT) .
                      </div>
                      <div class="read-more">Read More ...</div>
                    </div>
                  </div>
                  <div class="right-tex-down">
                    <div class="button1">
                      <button class="buttonfillblue48normal" type="button" (click)="onConfirmAndPay(paymentForm)" >
                        <img
                          class="vuesaxoutlinearrow-down-icon2"
                          alt=""
                          src="./assets/dow.svg"
                        />
  
                        <div class="text16">
                          <b class="footer-final1">Confirm and Pay</b>
                          <img
                            class="vuesaxoutlinetick-square-icon2"
                            alt=""
                            src="./assets/line.svg"
                          />
                        </div>
                      </button>
                      <div class="check-your-information">
                        Check your information before submitting .
                      </div>
                    </div>
                    <div class="button2">
                      <button class="add-to-the-favourit-list" type="button" (click)="onSaveIfYouLikeIt(paymentForm)" >
                        <img
                          class="vuesaxoutlinearrow-down-icon3"
                          alt=""
                          src="./assets/down.svg"
                        />
  
                        <div class="button-text">
                          <b class="list-your-favourite">Save If You like it </b>
                          <img
                            class="iconsbaselike"
                            alt=""
                            src="./assets/iconsbaselike.svg"
                          />
                        </div>
                      </button>
                      <div class="save-your-flight">
                        Save your flight info , find it through Shortcut.
                      </div>
                    </div>
                  </div>
                </div>
              </form>


            </div>
          </div>
        </div>
      </section>
      <footer class="footerfinal">
        <div class="footer">
          <div class="base"></div>
          <div class="auto-layout-the-whole-episode">
            <div class="auto-layout-about-us">
              <b class="customer-service1">About Us</b>
              <div class="our-story">Our Story</div>
              <div class="work-with-us">Work with us</div>
              <div class="press-media">Press & media</div>
              <div class="privacy-security">Privacy & Security</div>
            </div>
            <div class="auto-layout-we-offer">
              <b class="we-offer">We Offer</b>
              <div class="trip-sponsorship1">Trip Sponsorship</div>
              <div class="last-minutes-flights">Last Minutes Flights</div>
              <div class="best-deals">Best Deals</div>
              <div class="ai-driven-search">AI-Driven Search</div>
            </div>
            <div class="auto-layout-headquarters">
              <b class="headquarters">Headquarters</b>
              <div class="england1">England</div>
              <div class="france">France</div>
              <div class="canada">Canada</div>
              <div class="iceland">Iceland</div>
            </div>
            <div class="auto-layout-travel-blogs">
              <b class="travel-blogs">Travel Blogs</b>
              <div class="bali-travel-guide1">Bali Travel Guide</div>
              <div class="sri-travel-guide1">Sri Travel Guide</div>
              <div class="peru-travel-guide">Peru Travel Guide</div>
              <div class="swiss-travel-guide1">Swiss Travel Guide</div>
            </div>
            <div class="auto-layout-activities">
              <b class="activities">Activities</b>
              <div class="tour-leading">Tour Leading</div>
              <div class="cruising-sailing">Cruising & sailing</div>
              <div class="camping">Camping</div>
              <div class="kayaking">Kayaking</div>
            </div>
            <div class="auto-layou-service">
              <b class="service3">Service</b>
              <div class="report-error">Report Error</div>
              <div class="ask-online">Ask online</div>
              <div class="travel-insurance">Travel insurance</div>
            </div>
          </div>
          <div class="travelinsurance1">
            <div class="payment-methods">
              <button class="visa-card">
                <img
                  class="visa-logo-icon"
                  alt=""
                  src="./assets/visalogo.svg"
                />
              </button>
              <img
                class="amex-icon"
                loading="lazy"
                alt=""
                src="./assets/ame.png"
              />

              <div class="master-card">
                <img
                  class="internationalbankmasterrcard-icon"
                  loading="lazy"
                  alt=""
                  src="./assets/master.png"
                />
              </div>
              <div class="paypal">
                <img
                  class="international-icon"
                  loading="lazy"
                  alt=""
                  src="./assets/pay.png"
                />
              </div>
            </div>
            <div class="email-input-frame">
              <div class="social-networks">
                <img
                  class="linkedin-icon"
                  loading="lazy"
                  alt=""
                  src="./assets/-linkedin.svg"
                />

                <img
                  class="telegram-icon"
                  loading="lazy"
                  alt=""
                  src="./assets/-telegram.svg"
                />

                <img
                  class="twitter-icon"
                  loading="lazy"
                  alt=""
                  src="./assets/-twitter.svg"
                />

                <img
                  class="facebook-icon"
                  loading="lazy"
                  alt=""
                  src="./assets/facebook.svg"
                />

                <img
                  class="instagram-icon"
                  loading="lazy"
                  alt=""
                  src="./assets/-instagram.svg"
                />
              </div>
            </div>
          <form #subscriptionForm="ngForm" (ngSubmit)="onSubscribe(subscriptionForm)">
            <div class="send-an-email">
              <div class="input11">
                <div class="e-mail-text">
                  <div class="title6">Email</div>
                </div>
                <div class="auto-layout-input">
                  <div class="text17">
                    <img class="iconsofficemail" alt="" src="./assets/iconsofficemail.svg" />
                    <input             
                      type="email"
                      id="emailInput"
                      class="enter-yout-email"
                      placeholder="Enter your email"
                      name="email"
                      ngModel
                      required
                      email />
                  </div>
                  <img class="iconsbasesearch1" alt="" src="./assets/iconsbasesearch.svg" />
                </div>
                <div class="sub-headings">
                  <div class="information7">Information</div>
                </div>
              </div>
              <div class="confirm-button">
                <div class="button3">
                  <img class="vuesaxoutlinearrow-down-icon4" alt="" src="./assets/down.svg" />
                  <button class="text18" type="submit">
                    <div class="amex-instance">Subscribe</div>
                    <img class="vuesaxoutlinetick-square-icon3" alt="" src="./assets/line.svg" />
                  </button>
                </div>
              </div>
            </div>
          </form>
            
            
          </div>
        </div>
        <div class="frame-footer">
          <div class="under-the-footer-title">
            <div class="under-the-footer-title-frame">
              <div class="text-1">
                <div class="icon2">
                  <img
                    class="iconscharactercopyright"
                    alt=""
                    src="./assets/r.svg"
                  />
                </div>
                <div class="copyright-easyset24">Copyright EasySet24</div>
              </div>
            </div>
            <div class="text-2-wrapper">
              <div class="text-2">
                <div class="icon3">
                  <img
                    class="iconsofficeemail-down"
                    alt=""
                    src="./assets/email.svg"
                  />
                </div>
                <div class="privacy-security-frame">
                  <div class="easyset24gmailcom">easyset24&#64;gmail.com</div>
                </div>
              </div>
            </div>
            <b class="easyset24-seamless-journeys"
              >"EasySet24: Seamless Journeys, Unrivalled Travel Wisdom!"</b
            >
            <div class="frame-icons-travelslocaltwo">
              <div class="text-3">
                <img
                  class="iconstravelslocal-two"
                  alt=""
                  src="./assets/location.svg"
                />

                <div class="oxford-streetlondon">123 Oxford Street,London</div>
              </div>
            </div>
            <div class="text-4-wrapper">
              <div class="text-4">
                <div class="icon4">
                  <img
                    class="iconscommunicatephone-call"
                    alt=""
                    src="./assets/call.svg"
                  />
                </div>
                <div class="phone">
                  <div class="div2">+44 20 7123 4567</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>




<router-outlet />
