
.scrollToTopBtn {
  position: fixed;
  bottom: 0px;
  right: 2px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.scrollToTopBtn img {
  width: 60px; 
  height: auto; 
}

.showBtn {
  display: block !important;
}
